@import './app.scss';
@import './flat_list.scss';
@import './flat.scss';
@import './cards.scss';

body {
  margin: 0;
  font-family: 'Helvetica Neue';
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
